<p>facture-charge works!</p>
<h6>Creation de la Facture de Charge </h6>
<form>
  <div class="form-row">
    <div class="col-md-6 form-group">
      <label>Reference</label>
      <input type="text" class="form-control" placeholder="First name">
    </div><br><br><br>
    <div class="col-md-6 form-group">
      <label>Nom du Facture</label>
      <input type="text" class="form-control" placeholder="Last name">
    </div><br>
    <div class="col-md-6 form-group">
      <label>Numero de Facture</label>
      <input type="text" class="form-control" placeholder="Last name">
    </div><br>
    <div class="col-md-6 form-group">
      <label>Date de Facturation</label>
      <input type="date" class="form-control" placeholder="Last name">
    </div><br>
    <div class="col-md-6 form-group">
      <label>Date de Payment</label>
      <input type="date" class="form-control" placeholder="Last name">
    </div><br>
    <div class="col-md-6 form-group">
      <label>Montant HT</label>
      <input type="number" class="form-control" placeholder="Last name">
    </div>
    <div class="col-md-6 form-group">
      <label>Montant TTC</label>
      <input type="number" class="form-control" placeholder="Last name">
    </div>
    <div class="col-md-6 form-group">
      <label>TVA</label>
      <input type="number" class="form-control" placeholder="Last name">
    </div>
    <div class="col-md-6 form-group">
      <label>Annee</label>
        <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Annee</label>
        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
          <option selected>Annee...</option>
          <option value="1">2019</option>
          <option value="2">2020</option>
          <option value="3">2021</option>
        </select>
    </div>
    <div class="col-md-6 form-group">
      <label>Societe</label>
        <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Societe</label>
        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
          <option selected>Societe...</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
    </div>
    <div class="form-row">
      <div class="col-md-6 form-group">
        <h6>Fournisseur</h6>
        <label>Nom Complet</label>
        <input type="number" class="form-control" placeholder="Last name">
      </div>
      <div class="col-md-6 form-group">
        <h6>Fournisseur</h6>
        <label>CNE</label>
        <input type="number" class="form-control" placeholder="Last name">
      </div>
    </div>
    <br>  <br>  <br>

  </div>
</form> <button type="button" class="btn btn-primary">Enregistrer</button>
<br>
<hr>
<br>
<h6>Liste des Factures de Charge </h6>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
