<h3 style="text-align: center;">Quelle type d impot a payer ?</h3>

<div class="container"  style="padding-bottom: 140px;margin: 40px;">
  <div class="row">
    <div class="col-md-4">

    <button routerLink="/declarationTva" type="button" class="btn btn-secondary btn-block">Taux a valeurs ajoutes (TVA) </button>
    </div>
    <div class="col-md-4">
      <button routerLink="/DeclarationIs" type="button" class="btn btn-secondary btn-block">Impot sur la societe (IS) </button>
     </div>
    <div class="col-md-4">
        <button routerLink="/" type="button" class="btn btn-secondary btn-block">Impot sur les employes (IR)</button>
    </div>
  </div>
</div>
