
        <div class="row" style="max-width: 100% ; margin: 0">
            <div class="card mb-3 head" routerLink="DeclarationIR"  style="max-width: 360px;">
                <div class="row no-gutters" >

                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Declaration IR</h5>
                            <p class="card-text">Restitution de l’impôt sur le revenu.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3 head" routerLink="DeclarationIs"   style="max-width: 360px;">
                <div class="row no-gutters">

                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Declaration IS</h5>
                            <p class="card-text">Restitution de l’impôt sur les sociétés .</p>

                        </div>
                    </div>
                </div>
            </div>    
            <div class="card mb-3 head" routerLink="declarationTva" style="max-width: 360px;">
                <div class="row no-gutters">

                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Declaration TVA</h5>
                            <p class="card-text">Restitution de La taxe sur la valeur ajoutée.</p>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
        <div class="row" style="max-width: 100% ; margin: 0">
            <div class="card mb-3 " routerLink="DeclarationIR"  style="max-width: 360px;">
                <div class="row no-gutters">

                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Client</h5>
                            <p class="card-text">L'ajout d'un client.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3 " routerLink="Societe" style="max-width: 360px;">
                <div class="row no-gutters">

                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Societe</h5>
                            <p class="card-text">L'ajout d'une Societe.</p>
                        </div>
                    </div>
                </div>
            </div>    
            <div class="card mb-3 " routerLink="createEmployes" style="max-width: 360px;">
                <div class="row no-gutters">

                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Employe</h5>
                            <p class="card-text">L'ajout d'un Employe.</p>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
        <div class="row"  style="max-width: 100% ; margin: 0">
            <div class="card mb-3 " routerLink="DeclarationIR"  style="max-width: 360px;">
                <div class="row no-gutters">

                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Facture Charge</h5>
                            <p class="card-text">Declaration des factures de Charge.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3 " routerLink="DeclarationIR" style="max-width: 360px;">
                <div class="row no-gutters">

                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Facture Gain</h5>
                            <p class="card-text">Declaration des factures de Gain.</p>
                        </div>
                    </div>
                </div>
            </div>    
            <div class="card mb-3 " routerLink="DeclarationIR" style="max-width: 360px;">
                <div class="row no-gutters">

                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Fournisseur</h5>
                            <p class="card-text">L'ajout d'un Fournisseur.</p>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
