
        <header>
            <div id="header">
                <div class="container">
                    <div class="row" style="max-width: 100%">
                        <div id="logo" class="col-2"></div>
                        <h2 id="title" class="col-3">Direction Générale des Impôts</h2>
                        <div class="col-5"></div>
                        <div class="col-2"  id="marocLogo"></div>
                    </div>
                    <div class="row" style="max-width: 100% ; margin: 0 !important"     >
                        <div class="col-12" style="margin: 0  ; padding: 0 "  >
                            <nav id="navBar" class="navbar navbar-expand-lg navbar-light bg-light">
                                <div class="collapse navbar-collapse" id="navbarText">
                                    <ul class="navbar-nav mr-auto">
                                        <li class="nav-item active">
                                            <a class="nav-link" routerLink="">Home</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Nous contacter</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Votre avis</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Vos suggestions</a>
                                        </li>
                                    </ul>
                                    <span class="navbar-text" id="mLogo">
                                    </span>
                                    <span class="navbar-text">
                                        Non à la corruption | Say no to bribe
                                    </span>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header>

